.app.light {
  /* Светлая тема */
  --primary: #1890ff;

  --secondary: #096dd9;

  --success: #52c41a;

  --warning: #faad14;

  --danger: #f5222d;

  --info: #1890ff;

  --link: #096dd9;

  --white: #ffffff;
  --black: #000000;

  --text: #000000;
  --text-invert: #ffffff;

  --bg: #F6F6F6;
  --bg-dark: #bfbfbf;
}
